<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Jinja Division By Zero Test</title>
</head>

<body>

<h1>Jinja Division By Zero Test</h1>

<p>{{ 10 / 0 }}</p>


<p>{{ 10 % 0 }}</p>



{% set count = 0 %}
<p>{{ price / count }}</p>


<p>{{ 10 / 5 }}</p>


<p>{{ 10 / unknown_value }}</p>


<p>{{ 10 / (5 - 5) }}</p>


{% for x in items %}
<p>{{ 10 / 0 }}</p>
{% endfor %}


{% if flag %}
<p>{{ 10 / 0 }}</p>
{% endif %}


{% macro calc() %}
<p>{{ 10 / 0 }}</p>
{% endmacro %}


{% with x = 5 %}
<p>{{ 10 / 0 }}</p>
{% endwith %}


<style>
.box {
    width: {{ 100 / 0 }}px;
}
</style>


</body>
</html>
