<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Jinja Scope Error Test</title>
</head>

<body>

<h1>Jinja Scope Error Test</h1>

{% for p in products %}
<p>{{ p }}</p>
{% endfor %}
<p>{{ p }}</p>


{% if flag %}
{% set y = 1 %}
<p>{{ y }}</p>
{% endif %}
<p>{{ y }}</p>


{% with total = 100 %}
<p>{{ total }}</p>
{% endwith %}
<p>{{ total }}</p>


{% macro greet(username) %}
<p>{{ username }}</p>
{% endmacro %}
<p>{{ username }}</p>


{% set page_title = "Store" %}
<p>{{ page_title }}</p>


{% for item in items %}
<p>{{ item }}</p>
{% endfor %}


{% for outer in groups %}
    {% for inner in outer.items %}
    <p>{{ inner }}</p>
    {% endfor %}
    <p>{{ inner }}</p>
{% endfor %}


{% for outer in groups %}
    {% for inner in outer.items %}
    <p>{{ outer }} - {{ inner }}</p>
    {% endfor %}
{% endfor %}


{% for p in products %}
<p>{{ p }}</p>
{% endfor %}
<p>{{ p }}</p>
{% for p in others %}
<p>{{ p }}</p>
{% endfor %}


{% block content %}
{% set inner_var = 5 %}
<p>{{ inner_var }}</p>
{% endblock %}
<p>{{ inner_var }}</p>


<p>{{ completely_unknown }}</p>

</body>
</html>
