<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <style>
        * { margin: 0; padding: 0; box-sizing: border-box; }
        body { background:#f5f7fa; font-family:'Segoe UI', Tahoma; padding:20px; }
        .container { max-width:1000px; margin:auto; }
        .header { display:flex; justify-content:space-between; margin-bottom:20px; }
        .btn { padding:8px 14px; border-radius:6px; text-decoration:none; color:white; background:#2563eb; }
        .btn.secondary { background:white; color:#2563eb; border:1px solid #2563eb; }
    </style>
</head>

<body>
<div class="container">

    <div class="header">
        <h2>COMPILER</h2>
        <div style="display:flex; gap:10px;">
            <a href="{{ url_for('products_page') }}" class="btn secondary">product</a>
            <a href="{{ url_for('add_product') }}" class="btn">add product</a>
        </div>
    </div>

    {% block content %}{% endblock %}

</div>
</body>
</html>